@use "../../syles/partials/mixins.scss" as *;

.landing-page {
  margin-top: 5rem;
  text-align: center;
  padding: 0 1rem;
  @include tablet {
    padding: 0 5rem;
  }
  &__container {
    padding-top: 4rem;
  }
  &__hero {
    width: 100%;
  }
  &__header {
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    @include tablet {
      padding: 0.5rem 0;
    }
  }
  &__text {
    margin: 1.5rem 0;
    @include tablet {
      margin: 1rem 0;
      font-size: 0.9rem;
    }
  }
  &__logo-container {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    @include tablet {
      justify-content: center;
      padding: 1rem 0;
      gap: 3rem;
    }
  }
  &__logo {
    color: gray;
    border: 2px solid black;
    border-radius: 100%;
    padding: 0.3rem;
    transition: 0.3s;
    &:hover {
      color: white;
      background-color: black;
    }
  }
  &__btn-container {
    margin: 2rem 0;
  }
  &__btn {
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    background: black;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 20px #3171f2;
    transition: background 0.3s ease, color 0.4s ease;

    &:hover {
      background: white;
      color: black;
    }
  }
}
