.project {
    font-weight: 500;
    &__image {
        border-radius: 100%;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }
    &__item-container {

    }
    &__title-container {

    }
    &__links {
        color: black;
    }
    &__github-logo {
        width: 100%;
        max-width: 3rem;
    }
    &__description-container {

    }
}

