.line {
  position: relative;
  margin-top: -5rem;
  height: 7.5rem;
  &::before {
    content: "";
    background-color: #3171f2; 
    width: 2px; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
  }
}
