.about-header {
    margin: 0 1rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    &__photo {
        width: 100%;
        border-radius: 100%;
        max-width: 15rem;
    }
    &__text {
        margin: 1rem 0;
    }
}