@use "../../syles/partials/mixins.scss" as *;

.about {
  @include flex-col;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  @include tablet {
    margin: 2rem 5rem;
  }
  &__photo {
    width: 100%;
    border-radius: 100%;
    max-width: 15rem;
  }
  &__text {
    margin: 1rem 0;
  }
  &-header--blue {
    color: #3171f2;
  }
}
