@use "../../syles/partials/mixins.scss" as *;
.form {
    padding: 1rem;
    border: 2px solid white;
    margin: 1rem 0;
    @include tablet {
        margin: 1rem 5rem;
        padding: 0;
    }
    &__header {
        margin-bottom: 2rem; 
        text-align: left;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__input {
        font-weight: 400;
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        border: none;
        background: rgb(243 244 246);
    }
    &__text-area {
        width: 100%;
        resize: none;
        font-weight: 400;
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        border: none;
        background: rgb(243 244 246);
    }
    &__btn {
        font-weight: 600;
        width: 7rem;
        border: 2px solid black;
        padding: 0.75rem 1rem;
        margin-top: 0.5rem;
        border-radius: 15px;
        background: black;
        color: white;
        border: 2px solid black;
        border-radius: 10px;
        transition: background 0.3s ease, color 0.4s ease;
        box-shadow: 0px 3px 7px rgb(45, 45, 45);
        &:hover {
          background: white;
          color: black;
        }
        @include tablet {
            padding: 0.8rem 0;
            width: 100%;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}