@use "../../syles/partials/mixins.scss" as *;

.form {
  padding: 1rem;
  margin: 1rem 0;
  @include tablet {
    padding: 0;
    margin: 0 2rem;
  }
  &__header {
    margin-bottom: 2rem;
    text-align: left;
    &--blue {
      color: #3171f2;
    }
  }
  &__container {
    @include flex-col;
  }
  &__input-container {
    @include flex-col;
    width: 100%;
  }
  &__input {
    @include input;
  }
  &__text-area {
    @include input;
    resize: none;
  }
  &__btn {
    @include btn;
    width: 7rem;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    box-shadow: 0px 3px 7px rgb(45, 45, 45);
    &:hover {
      background: white;
      color: black;
    }
    @include tablet {
      padding: 0.8rem 0;
      width: 100%;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
