@use "../../syles/partials/mixins.scss" as *;
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background: #f1f5f980;
  backdrop-filter: blur(25px); 
  -webkit-backdrop-filter: blur(10px);
  @include desktop {
    max-width: 60rem;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__logo-text {
    font-weight: 700;
    &--blue {
      color: #3171f2;
    }
  }
  &__desktop {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__anchor-tag {
    list-style: none;
    display: flex;
    color: black;
  }
  &__hamburger {
    border: none;
    background-color: transparent;
    @include tablet {
      display: none;
    }
  }
  &__links {
    box-shadow: 2px 4px 15px #3171f2;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.8rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    width: max-content;
    border-radius: 10px;
    background: white;
  }
  &__link {
    border-radius: 8px;
    padding: 0.8rem;
    color: black;
    width: 100%;
    &:hover {
      color: #3171f2;
      background: #f1f5f9;
      transition: 500ms;
    }
  }
}
