@use "./variables";

@mixin tablet {
  @media (min-width: variables.$tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: variables.$desktop-breakpoint) {
    @content;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn {
  border: 2px solid black;
  font-weight: 600;
  background: black;
  color: white;
  transition: background 0.3s ease, color 0.4s ease;
}

@mixin input {
  font-weight: 400;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: none;
  background: rgb(243 244 246);
}