@use "./syles/partials/mixins.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f5f9;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  @include desktop {
    max-width: 60rem;
    margin: 0 auto;
}
}

textarea {
  font-family: "Montserrat", sans-serif;
}

h2 {
  padding-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  @include tablet {
    padding-top: 0;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  color: #858585;
}



