* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: transparent;
}

button {
  cursor: pointer;
}

p {
  color: #858585;
}



